<?xml version="1.0" encoding="UTF-8"?>
<it.unipi.dii.inginf.lsdb.learnitapp.config.Config>
    <mongoDBPrimaryIP>172.16.4.75</mongoDBPrimaryIP>
    <mongoDBPrimaryPort>27017</mongoDBPrimaryPort>
    <mongoDBSecondIP>172.16.4.76</mongoDBSecondIP>
    <mongoDBSecondPort>27017</mongoDBSecondPort>
    <mongoDBThirdIP>172.16.4.77</mongoDBThirdIP>
    <mongoDBThirdPort>27017</mongoDBThirdPort>
    <mongoDBusername>root</mongoDBusername>
    <mongoDBpassword></mongoDBpassword>
    <mongoDBName>learnitmongo</mongoDBName>
</it.unipi.dii.inginf.lsdb.learnitapp.config.Config>