<?xml version="1.0" encoding="UTF-8"?>
<it.unipi.dii.inginf.lsdb.learnitapp.config.ConfigParams>
    <mongoDBPrimaryIP>172.16.4.77</mongoDBPrimaryIP>
    <mongoDBPrimaryPort>27020</mongoDBPrimaryPort>
    <mongoDBSecondIP>172.16.4.76</mongoDBSecondIP>
    <mongoDBSecondPort>27020</mongoDBSecondPort>
    <mongoDBThirdIP>172.16.4.75</mongoDBThirdIP>
    <mongoDBThirdPort>27020</mongoDBThirdPort>
    <mongoDBUsername>root</mongoDBUsername>
    <mongoDBPassword></mongoDBPassword>
    <mongoDBName>db</mongoDBName>
    <mongoDBCollectionCourses>courses</mongoDBCollectionCourses>
    <mongoDBCollectionUsers>users</mongoDBCollectionUsers>
    <neo4jIP>127.0.0.1</neo4jIP>
    <neo4jPort>7687</neo4jPort>
    <neo4jUsername>neo4j</neo4jUsername>
    <neo4jPassword>password</neo4jPassword>
    <limitNumber>10</limitNumber>
    <limitFirstLvl>5</limitFirstLvl>
    <limitSecondLvl>5</limitSecondLvl>
    <numRelationships>1</numRelationships>
    <numCommonCourses>1</numCommonCourses>
    <followedThreshold>1</followedThreshold>
</it.unipi.dii.inginf.lsdb.learnitapp.config.ConfigParams>